# Configuración de Base de Datos
DB_SERVER=sdb-apptransportistas-maco.privatelink.database.windows.net
DB_NAME=db-apptransportistas-maco
DB_USER=ServiceAppTrans
DB_PASS=tu_password_aqui

# Configuración de la Aplicación
APP_ENV=production
APP_DEBUG=false

# Azure Blob Storage (si aplica)
AZURE_ACCOUNT_NAME=catalogodeimagenes
AZURE_CONTAINER_NAME=imagenes-productos
