
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #ffffff, #e31f25);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

